<div class="container-fluid">
    <div class="shirt_wrapper">


        <div class="tco_card">

            <div class="card_header">
                <span>T-Shirt Sizing Model</span>
            </div>


            <div class="card_content">

                <form>
                    <div class="form-group">
                        <label>Product</label>
                        <select class="form-control" [(ngModel)]="this.client.clientName">
                            <option>Demand Manager</option>
                            <option>Demand Planner</option>
                            <option>Supply Chain Planner</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Version</label>
                        <select class="form-control" [(ngModel)]="this.client.clientName">
                            <option>DP & DM - Version 5.2</option>
                            <option>SCP - Version 4.2 thru 6.1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Purpose</label>
                        <select class="form-control" [(ngModel)]="this.client.clientName">
                            <option>Re-implementation</option>
                            <option>Transformation</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Lines of Business</label>
                        <select class="form-control" [(ngModel)]="this.client.clientName">
                            <option>B2B</option>
                            <option>Retail</option>
                            <option>Direct</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>SCM Network Reach</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Product Hierarchy Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Product Hierarchy Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Product Hierarchy Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Network Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Network Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Network Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Network Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Network Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Global Procurement Complexity</label>
                        <select class="form-control" [(ngModel)]="this.client.clientName">
                            <option>Involmenet of Customs</option>
                            <option>Govt Autohorities</option>
                            <option>Shipping Lines</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Partners/Supliers</label>
                        <select class="form-control" [(ngModel)]="this.client.clientName">
                            <option>NUmbers of Partners</option>
                            <option>Suppliers</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Partners/Supliers</label>
                        <select class="form-control" [(ngModel)]="this.client.clientName">
                            <option>Deliver Supply Location -Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Customization</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Customization</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Interfaces</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Interfaces</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <button class="but but-primary">Submit</button>
                    </div>
                </form>

            </div>

        </div>

        
    
   
    
    
    
    
    
    </div>
</div>

