<div class="container-fluid">
    <div class="shirt_wrapper">


        <div class="tco_card">

            <div class="card_header">
                <span>T-Shirt Sizing Model</span>
            </div>


            <div class="card_content">

                <form>
                    <div class="form-group">
                        <label>Product</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Version</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Purpose</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Lines of Business</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>SCM Network Reach</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Product Hierarchy Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Product Hierarchy Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Product Hierarchy Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Network Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Network Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Network Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Network Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Network Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Global Procurement Complexity</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Partners/Supliers</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Partners/Supliers</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Customization</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Customization</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Interfaces</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <label>Interfaces</label>
                        <input class="form-control" type="text" name="client" [(ngModel)]="this.client.clientName">
                    </div>
                    <div class="form-group">
                        <button class="but but-primary">Submit</button>
                    </div>
                </form>

            </div>

        </div>

        
    
   
    
    
    
    
    
    </div>
</div>

